* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FB8500;
    background-attachment: fixed;
    font-family: 'Alata', sans-serif;
    color: rgb(54, 54, 54);
    margin: 0;
   
}

.container{
    width: 1000px;
    margin: 30px auto;    
}

.profile {
    text-align: center;
    margin-bottom: 20px;
}

.foto-principal {
    border: 8px solid #fff;
    border-radius: 20% 0 20% 0;
    width: 200px;
    margin: 60px 30px 30px 30px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.social-icons {
    width: 20px;       
}

.social-icons:hover {
    transition-duration: 300ms;
    transform: scale(2, 2);
}

.github {
    margin: 0 15px 0 15px;
}

.bg-content {
    background: rgba(238, 237, 237, 0.637) ;
    border-radius: 8px;
    padding: 10px 20px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);        
}

.skills-logo {
    margin: 18px 0 30px 0;
    display: flex;
    list-style: none;       
}

.skills-logo li img {
    width: 60%;
}

.skills-logo li img:hover {
    transition-duration: 300ms;
    transform: scale(1.2, 1.2);
}

h1 {
    margin-bottom: 0;    
    font-family: 'Righteous', cursive;    
}
h2 {
    margin-top: 0;
    font-style: italic;
    color: rgb(224, 222, 222);
    font-weight: lighter;
    text-shadow: 0 1px 3px #000;
}
.footer {
    background-color: #474747;
    margin-top: 50px;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    
}
p {
    font-family: 'Alata', sans-serif;
    color: #474747;
}

.portfolio-itens {
    margin: 18px 0 30px 0;
    display: flex;
    list-style: none;
    text-align: center;
       
}

.portfolio-itens li img {
    width: 60%;
    text-align: center;
}

.contact h1{
    text-align: right;
    
}
    